Heart Disease Prediction Using Support Vector Machine

Importing the dependencies

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

Data collection and analysis

In [ ]:
#loading the data into pandas dataframe
heart_df = pd.read_csv('/content/drive/MyDrive/heart (1).csv')

In [ ]:
#printing the first five rows of the dataset
heart_df.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [ ]:
#printing the last five rows of the dataset
heart_df.tail()

     age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
298   57    0   0       140   241    0  ...      1      0.2      1   0     3       0
299   45    1   3       110   264    0  ...      0      1.2      1   0     3       0
300   68    1   0       144   193    1  ...      0      3.4      1   2     3       0
301   57    1   0       130   131    0  ...      1      1.2      1   1     3       0
302   57    0   1       130   236    0  ...      0      0.0      1   1     2       0

[5 rows x 14 columns]

In [ ]:
#geting the number of rows and columns
heart_df.shape

(303, 14)

In [ ]:
#getting all the statistical measures about data
heart_df.describe()

              age         sex          cp  ...          ca        thal      target
count  303.000000  303.000000  303.000000  ...  303.000000  303.000000  303.000000
mean    54.366337    0.683168    0.966997  ...    0.729373    2.313531    0.544554
std      9.082101    0.466011    1.032052  ...    1.022606    0.612277    0.498835
min     29.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%     47.500000    0.000000    0.000000  ...    0.000000    2.000000    0.000000
50%     55.000000    1.000000    1.000000  ...    0.000000    2.000000    1.000000
75%     61.000000    1.000000    2.000000  ...    1.000000    3.000000    1.000000
max     77.000000    1.000000    3.000000  ...    4.000000    3.000000    1.000000

[8 rows x 14 columns]

In [ ]:
heart_df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [ ]:
#getting the number of counts in a particular column for distinct values
heart_df['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

0 ----> No heart disease
1 ----> Have heart disease

In [ ]:
#getting the mean vlaue of each feature for the target label
heart_df.groupby('target').mean()

              age       sex        cp  ...     slope        ca      thal
target                                 ...
0       56.601449  0.826087  0.478261  ...  1.166667  1.166667  2.543478
1       52.496970  0.563636  1.375758  ...  1.593939  0.363636  2.121212

[2 rows x 13 columns]

Separating the data(features) and the label(target):

In [ ]:
X = heart_df.drop(columns = 'target',axis = 1)

In [ ]:
print(X)

     age  sex  cp  trestbps  chol  ...  exang  oldpeak  slope  ca  thal
0     63    1   3       145   233  ...      0      2.3      0   0     1
1     37    1   2       130   250  ...      0      3.5      0   0     2
2     41    0   1       130   204  ...      0      1.4      2   0     2
3     56    1   1       120   236  ...      0      0.8      2   0     2
4     57    0   0       120   354  ...      1      0.6      2   0     2
..   ...  ...  ..       ...   ...  ...    ...      ...    ...  ..   ...
298   57    0   0       140   241  ...      1      0.2      1   0     3
299   45    1   3       110   264  ...      0      1.2      1   0     3
300   68    1   0       144   193  ...      0      3.4      1   2     3
301   57    1   0       130   131  ...      1      1.2      1   1     3
302   57    0   1       130   236  ...      0      0.0      1   1     2

[303 rows x 13 columns]

In [ ]:
Y = heart_df['target']

In [ ]:
print(Y)

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

Data standardization

In [ ]:
scaler = StandardScaler()

In [ ]:
standarized_data = scaler.fit_transform(X)

In [ ]:
print(standarized_data)

[[ 0.9521966   0.68100522  1.97312292 ... -2.27457861 -0.71442887
  -2.14887271]
 [-1.91531289  0.68100522  1.00257707 ... -2.27457861 -0.71442887
  -0.51292188]
 [-1.47415758 -1.46841752  0.03203122 ...  0.97635214 -0.71442887
  -0.51292188]
 ...
 [ 1.50364073  0.68100522 -0.93851463 ... -0.64911323  1.24459328
   1.12302895]
 [ 0.29046364  0.68100522 -0.93851463 ... -0.64911323  0.26508221
   1.12302895]
 [ 0.29046364 -1.46841752  0.03203122 ... -0.64911323  0.26508221
  -0.51292188]]

In [ ]:
X = standarized_data
Y = heart_df['target']

splitting the data into training data and testing data

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2,stratify = Y,random_state=1)

In [ ]:
print(X.shape, X_test.shape, X_train.shape)

(303, 13) (61, 13) (242, 13)

Training the model

In [ ]:
classifier = svm.SVC(kernel = 'linear')

In [ ]:
#training the support vector classifier
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

Model Evaluation by calculating the accuracy of the model:

In [ ]:
#accuracy score on the training data:
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [ ]:
print("The accuracy of the training data: ", training_data_accuracy)

The accuracy of the training data:  0.8512396694214877

In [ ]:
#accuracy score on the test data:
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [ ]:
print("The accuracy of the testing data: ", test_data_accuracy)

The accuracy of the testing data:  0.819672131147541

Making the predictive system for our model to start predicting:

In [ ]:
input_data = (70,1,2,160,269,0,1,112,1,2.9,1,1,3)



#changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-5)

# standardize the input data
std_data = scaler.transform(input_data_reshaped)


prediction = classifier.predict(std_data)


if (prediction[0] == 0):
  print('The person will not have heart disease.')
else:
  print('The person have heart disease.')

The person will not have heart disease.

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"